/* common style start */

body {
  font-family: "Open Sans", sans-serif;
}
.orange-text {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* common style end */
/* header start */
/* nav styles start*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
}
/* nav style end */
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner start */
.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 560px;
}
.banner-greet {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  margin-top: 5px;
  font-size: 80px;
  font-weight: 550;
  color: #181818;
}
.banner-discription {
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}
.banner-button {
  margin-top: 30px;
  margin-right: 30px;
}

.banner .profile-pic {
  width: 500px;
}
/* banner end */
/* header end */
/* main start */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 50px;
}
/* about start */
.about {
    padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;

}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;

}
.section-description {
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;

font-weight: 400;
 }
 .about-info-container{
    display: flex;
    justify-content: space-around;
 }
 .about-info{
    text-align: center;
 }
 .info-title{
    color: #757575;
 }
 .info-description{
    color: #474747;
 }
/* about end */
/* What I do start */
#what-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* what I do end  */
/* resume start  */
.resume-container{
  display: flex;
  gap: 24px;
}
.resume-column-title{
  margin-top: 100px;
}
.resume-item-institue, .resume-item-description{ 
  color: #757575;
}
.resume-item-institue{
  font-size: 20px;    
font-weight: 600;

}

.resume-column-title{
  color:#474747;
  font-size: 30px;
   font-weight: 700;

}
.resume-container hr{ 
  margin: 20px 0;
}
.resume-download-cv{
  text-align: center;
  margin-top: 100px;
}
/* resume end */

/* main end */

/* footer start */
.footer-container{
  display: flex;
  gap: 117px ;
color: #FFF8F3;
padding: 130px 230px;
margin-top: 100px;
}


/* footer end */
